@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root{
   --light: #fdffc4;
   --dark: #00332a;
   --primary: rgb(121, 245, 158);
   --secondary: teal;
   --accent: rgb(206, 188, 28);
   --txt-color: black;
   --alert: rgb(235, 91, 91);

   --foreground: var(--dark);
   --background: var(--light);
}
.darkmode{
    --light: #fdffc4;
    --dark: #00332a;
    --primary: rgb(9, 68, 27);
    --secondary: rgb(13, 75, 75);
    --accent: rgb(206, 188, 28);
    --txt-color: white;
    --alert: rgb(235, 91, 91);
 
    --foreground: var(--light);
    --background: var(--dark);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* text-decoration: none; */
    transition-duration: 0.9s;
    transition-timing-function: ease-in;
    transition-property: var(--background), var(--foreground);
}
h1{
    font-size: 34px;
    color: var(--txt-color);
    letter-spacing: 2px;
}
h2{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 33px;
    flex: 1;
    flex-basis: 25%;
    color: var(--txt-color);
}
p{
    /* Disable text select
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; */
    padding: 0.5rem;
    margin: 0.5rem;
    color: var(--txt-color);
}
.hidden{
    filter: blur(5px);
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
/* section{
    display: grid;
    place-items: center;
    align-content: center;
} */
.dark-mode-toggle{
    cursor: pointer;
    border: none;
    background-color: var(--accent);
    height: auto;
    width: 38px;
    margin-left: 18px;
}
.space{
    height: 130px;
    width: 100%;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 8px 24px;
    background-color: var(--accent);
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.hamburger span{
    content: '';
    display: block;
    width: 32px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}
.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--primary);
}
.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translate(15px);
}
.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}
.hamburger.is-active:hover span{
    background-color: var(--alert);
}
.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}
.menu a{
    text-align: center;
    color: var(--txt-color);
    margin: 0 16px;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    /* border: 1px solid var(--accent); */
    border-radius: 99px;
    font-weight: 600;
}
.menu div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu a.is-active, .menu a:hover{
    background-color: var(--primary);
}
/* .svg-icon{
    width: 24px;
    height: 24px;
    display: inline-block;
} */
nav-mobile{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    padding-top: 122px;
    background-color: var(--accent);
    transition: 0.4s;
}
nav-mobile.is-active{
    left: 0;
}
nav-mobile a{
    display: block;
    text-align: center;
    width: 100%;
    min-height: 48px;
    max-width: 200px;
    margin: 0 auto 16px;
    padding: 12px 16px;
    background-color: var(--secondary);
    text-decoration: none;
    color: var(--txt-color);
}
nav-mobile #dark-mode-toggle2{
    display: block;
    margin: auto;
    width: 100%;
    min-height: 48px;
    max-width: 200px;
}
nav-mobile a, nav-mobile #dark-mode-toggle2{
    transition-duration: 0.9s;
    transition-timing-function: ease-in;
    transition-property: var(--background), var(--foreground);
}
#dark-mode-toggle2{
    font-weight: 600;
}
.img{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
/* My test Image Gallery */
.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column:nth-child(2){
    transition-delay: 300ms;
}
.column:nth-child(3){
    transition-delay: 400ms;
}
.column:nth-child(4){
    transition-delay: 600ms;
}
.test_img{
    border-radius: 5px;
    margin-top: 8px;
    vertical-align: middle;
    padding: 8px;
    max-height: 260px;
    max-width: 300px;
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
/* End of Image Gallery test */
.copy-overplay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.750);
    display: none;
    z-index: 1000;
}
.protect-alert{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--secondary);
    width: calc(100% /2);
    height: calc(100% /2);
    border-radius: 54px;
    border: 6px solid var(--alert);
    margin: auto;
    display: none;
    z-index: 2000;
}
.protect-alert span{
    color: var(--txt-color);
    font-size: 32px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}
.confirmAlert{
    height: 80px;
    width: 80%;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -90%);
    border-radius: 16px;
    border: 0;
    background-color: var(--alert);
    color: white;
    transition: 0.4s ease-in;
}
.confirmAlert:hover{
    opacity: 0.7;
}

/* start gallery */


/* end gallery */

footer{
    position: absolute;
    font-size: 20px;
    bottom: 0;
    background: var(--accent);
    height: auto;
    width: 100%;
}
.footer-content{
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    color: azure;
    width: 100%;
    height: 60px;
}

/* Start progress bar */
#progress-bar{
    --progress: 0;
    position: fixed;
    bottom: 0;
    height: 5px;
    width: var(--progress);
    background-image: linear-gradient(90deg, rgba(200,13,174,1) 0%, rgba(46,226,206,1) 47%, rgba(188,226,10,1) 100%);
    z-index: 9;
    color: blue;
}
/* End progress bar */

/* Only for Firefox */
@supports (-moz-appearance:none){
    #progress-bar{
        visibility: hidden;
    }
}
@media print {
    h2, p {
        /* Disable text select */
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        visibility: hidden !important;
    }
}
@media (min-width: 768px){
    #progress-bar{
        visibility: visible;
    }
    .hamburger, nav-mobile{
        display: none;
    }
    .menu{
        display: flex;
    }
}
